<router-outlet>
  <app-header [roster]="fighters" (characterListTyping)="theNextPart($event)" (modalBoolean)="toggleModalStatus($event)"></app-header>
  <app-modal (modalBoolean)="toggleModalStatus($event)" [modalFranchiseInfo]="franchiseDataInfo"  [modalCompanyInfo]="companyDataInfo"  [modalOpen]="modalPresenting"></app-modal>
  <app-board 
    [searchString]="searchString"
    [fighters]="fighters" 
    [loading]="loading">
  </app-board>
</router-outlet>
<!-- //todo: the close modal button in moda.compment.html needs to hook into the app-header toggleModalStatus($evvent) method -->